.newest-comments.row
  .col-md-12
    %h4 Newest comments:
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Text
      %tbody
        - project.comments.order("created_at DESC").each do |comment|
          %tr
            %td= comment.id
            %td= comment.text
