#carousel-example-generic.carousel.slide{ id: "slide-images", data: { ride: "carousel" }}
  %ol.carousel-indicators
    %li.active{ data: { target: "#slide-images", slide_to: "0" }}
    %li{ data: { target: "#slide-images", slide_to: "1" }}
    %li{ data: { target: "#slide-images", slide1_to: "2" }}
  .carousel-inner
    .item.active
      %img{ src: "@path slider1.jpg", alt: ""}/
    .item
      %img{ src: "@path slider2.jpg", alt: ""}/
    .item
      %img{ src: "@path slider3.jpg", alt: ""}/
    .item
      %img{ src: "@path slider4.jpg", alt: ""}/
    .item
      %img{ src: "@path slider5.jpg", alt: ""}/

  %a.left.carousel-control{ href: "#slide-images", data: { slide: "prev"}}
    %i.fa.fa-angle-double-left
  %a.right.carousel-control{ href: "#slide-images", data: { slide: "next" }}
    %i.fa.fa-angle-double-left
