=render 'carousel'

.row.text-center
  .col-lg-12
    %h1 Welcome to Nightwing!
    %hr.divider

.row
  .col-lg-12.text-center
    %h3 Take a look at our latest projects...

.row
  .col-lg-12
    =render 'projects'
