%h1 Welcome to Nightwing!

.row.text-center
  .col-lg-12
    %h2 Popular projects

.row
  .col-lg-4
    .well
      %h2 Example 1
      .p Lorem ipsum...
  .col-lg-4
    .well
      %h2 Example 2
      .p Lorem ipsum...
  .col-lg-4
    .well
      %h2 Example 2
      .p Lorem ipsum...
