%table.projects
  %tr
    %th= sort_link @q, :name, "Name"
    %th= sort_link @q, :description, "Description"
  - @found_projects.each do |project|
    %tr
      %td= link_to(project.name, project)
      %td= project.description