.row
  .col-md-12
    .page-header
      %h2
        = project.name
.row
  .col-md-8
    = project.description
  .col-md-4
    Lorem ipsum dolor sit amet.

%button.btn.btn-success Back this project

%h3 Comments:
= render 'comments/list', project: project
.new-project-module.row
  .col-md-1
  .col-md-10
    .panel.panel-info
      .panel-heading
        %h3.panel-title Create comment
      .panel-body
        = render 'comments/form'
