.form-horizontal
  = simple_form_for(project_contribution, url: project_project_contributions_path(project), html: { role: 'form' }) do |f|
    .form-inputs.inputs-modal
      = f.input :amount, class: 'form-control'
      = f.input :comment, class: 'form-control'
    .form-actions
      = f.submit "Contribute", class: 'btn btn-success'
