.inputs-modal {
  padding: 20px;
}

.navbar-inverse {
  border-radius: 0px;
}

.tags {
  font-size: 14px;
  margin-top: 75px;
  .label {
    margin-right: 10px;
  }
}

.new-project-tags {
  .tags {
    margin-top: 0px;
    label {
      margin-left: 10px;
    }
  }
}

/*flash*/
.alert {
  position: absolute;
  top: 70px;
  z-index: 1;
  width: 90%;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    padding-bottom: 15px; 
 }
