%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      =link_to root_path do
        %span.navbar-brand NightWing
        %span Discover
        %span Search Projects
    .collapse.navbar-collapse.navbar-ex1-collapse#toggled
      %ul.nav.navbar-nav.navbar-right
        %li Sign up
        %li Sign in
